<!doctype html>
<html lang="pt-br" class="has-background-dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pomodoro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="mine.css">
  <!-- <link rel="stylesheet" href="debug.css"> -->
</head>
<body>
    <div id="app" >
        <audio src="sounds/end.mp3" ref="end" type="audio/mpeg"></audio>
        <audio src="sounds/start.mp3" ref="start" type="audio/mpeg"></audio>
    <section v-if="display">
             <div class="space"></div>
             <div class="space"></div>
             

            <!-- O CIRCULO -->
            <div class="circle-stroke" v-bind:class="{pulse: isPlaying}">
                <div class="inner-circle has-text-light">{{formatDisplay(displayTime)}}</div>
            </div>
            <!-- O CIRCULO -->
            <div class="minispace"></div>
            <div class="minicircles-container">
                <div class="minicircles" :class="{completed: isCompleted(0)}"></div>
                <div class="minicircles" :class="{completed: isCompleted(1)}"></div>
                <div class="minicircles" :class="{completed: isCompleted(2)}"></div>
                <div class="minicircles" :class="{completed: isCompleted(3)}"></div>
                
            </div>
            
            <div class="space"></div>
            

            <div class="buttons-container">
                <div class="btn btn-small background-primary has-text-dark">
                    <i class="fas fa-redo"></i>
                </div>
                <div class="btn btn-big background-primary has-text-dark" @click="startTimer()">
                    <i class="fas fa-2x fa-play" style="margin: 0 3px;"></i>
                    <!-- <i class="fas fa-2x fa-pause" v-show="isPlaying"></i> -->
                </div>
                <div class="btn btn-small background-primary has-text-dark" @click="changeDisplay()">
                    <i class="fas fa-cog" ></i>
                </div>
            </div>

            <!-- <div class="buttons-container" >
                <div class="btn btn-small background-primary has-text-dark">
                    <i class="fas fa-redo"></i>
                </div>
                <div class="btn btn-big background-primary has-text-dark" @click="startTimer()">
                    <i class="fas fa-2x fa-pause"></i>
                </div>
                <div class="btn btn-small background-primary has-text-dark" @click="changeDisplay()">
                    <i class="fas fa-cog" ></i>
                </div>
            </div> -->
    </section>

    <section v-if="!display" class="section2">
        
        <h2>Settings</h3>
            <div class="space"></div>
        <div class="slider-container" style="text-align: center;">
            <h4 style="text-align: center;">Work</h4>
            <h4 style="text-align: center;">{{st_worktime}} </h4>
            <input v-model="st_worktime" class="slider" type="range" min="1" max="60" value="25">           
        </div>
        <div class="slider-container" style="text-align: center;">
            <h4 style="text-align: center;">Short Break</h4>
            <h4 style="text-align: center;">{{st_shortbreak}} min</h4>
            <input v-model="st_shortbreak" class="slider" type="range" min="1" max="60" value="5">           
        </div>
        <div class="slider-container" style="text-align: center;">
            <h4 style="text-align: center;">Long Break</h4>
            <h4 style="text-align: center;">{{st_longbreak}} min</h4>
            <input v-model="st_longbreak" class="slider" type="range" min="1" max="60" value="25">           
        </div>

        <div class="buttons-container2">
            <span class="button-cancel" @click="cancelChanges()">Cancel</span>
            <span class="button-apply" @click="applyChanges()">Apply</span>
        </div>
    </section>
</div>
<script src="main.js"></script>
</body> 
</html>